/*h1, p { color: skyblue; }*/
/*div span { color: skyblue; }*/
/*div > span { color: skyblue; }*/
/*p + p { color: skyblue; }*/
body { background: skyblue; }
#title { color: blue; }
.item { color: black; }
div span { color: red; }
.practice { background: orange; }
/*#05*/
.link a[href="http//google.com"] { color: blue; }
.link a[title] { color: green; }
.link a[class~="search"] { color: red; }
/*#06*/
.month a:link { color: brown; }
.ex06 ul li:first-child { color: red; }
.ex06 > a:link { color: blue; }
.ex06 a:visited { color: red; }
.ex06 a:hover { color: green; }
.ex06 a:active { color: violet; }
.ex06 input { background: skyblue; }
.ex06 input:focus { background: white; }
.balloon {
  position: relative;
  width: 200px;
  height: 30px;
  background-color: #ccc;
  text-align: center;
}
.balloon .triangle {
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid #ccc;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
/*#06*/
.ex07 #paint-first-letter:first-letter { color: red; }
.ex07 #paint-first-paragraph:first-line { color: red; }
/*#07*/
/* 0, 0, 0, 1 */
.ex07 a { color: skyblue !important; }
/* 0, 0, 1, 1 */
.ex07 a.link { color: pink; }
/* 0, 0, 1, 1 */
.ex07 a.search { color: orange; }
/* 0, 1, 0, 1 */
.ex07 a#site { color: blue; }

/*#09*/
.ex09 #size01 { font-size: 16px;}
.ex09 #size02 { font-size: 2em;}
.ex09 #size03 { font-size: 150%;}

.ex09 #color01 { color: blue;}
.ex09 #color02 { color: #00f;}
.ex09 #color03 { color: #951207;}
.ex09 #color04 { color: rgb(255, 0, 0);}
.ex09 h1 { color: rgb(0%, 0%, 100%);}
